@import "../../helper";

main {
    padding-bottom: $bottom-list;
}

.product {
    &__title {
        padding: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;

        display: flex;
        align-items: flex-end;
        letter-spacing: -0.01em;

        color: #223263;
    }

    &__cost-row {
        display: flex;
        padding: 40px 20px 20px;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid #EBF0FF;
    }

    &__cost {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        b {
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 100%;

            letter-spacing: 0.5px;

            color: #27214D;
        }

        span {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 200%;

            letter-spacing: 0.5px;

            color: #27214D;

        }
    }

    &__des-main {
        padding: 0 20px 20px 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 180%;

        letter-spacing: 0.5px;

        color: #9098B1;
    }

    &__des-title {
        padding: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;

        letter-spacing: 0.5px;

        color: #223263;
    }
}