.product {
    &__title {
        padding: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;
        /* identical to box height, or 24px */

        display: flex;
        align-items: flex-end;
        letter-spacing: -0.01em;

        color: #223263;
    }

    &__cost-row {
        display: flex;
        padding: 0 20px 20px 20px;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid #EBF0FF;
    }

    &__cost {
        b {
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 100%;
            /* identical to box height, or 36px */

            letter-spacing: 0.5px;

            color: #27214D;
        }

        span {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 200%;
            /* identical to box height, or 24px */

            letter-spacing: 0.5px;

            color: #27214D;

        }
    }

    &__des-main {
        padding: 0 20px 20px 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 180%;
        /* or 22px */

        letter-spacing: 0.5px;

        /* Neutral/Grey */

        color: #9098B1;
    }

    &__des-title {
        padding: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */

        letter-spacing: 0.5px;

        /* Neutral/Dark */

        color: #223263;
    }
}