.products {
    &__title {
        padding: 0 16px;
        padding-top: 14px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 21px */

        letter-spacing: 0.5px;

        /* Neutral/Dark */

        color: #223263;
    }
}