.my-product-item {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__row {
    width: 100%;
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }

  hr {
    width: 100%;
    border: none;
    color: #EBF0FF;
    background-color: #EBF0FF;
    height: 2px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 10px;
    margin: auto 0;
    margin-right: 14px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;

      color: #223263;
    }

    p {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 0.5px;

      color: #9098B1;
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.5px;

      color: #27214D;
    }
  }

  &__content {
    display: flex;
  }
}