.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;

    &__inner {
        font-size: 9.066666vw;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: #1DDE7D;
        color: #fff;
    }
}